.link-calendar {
	font-weight: bold;
}

.main-content {
	max-height: 100%;
}

.main-content iframe {
	display: block;
	width: 100%;
	height: 80%;
	border-bottom: 1px solid black;
}

.newtabimg {
	height: 0.7em;
}
