.link-resources {
	font-weight: bold;
}

.main-content ul li {
	margin-bottom: 10px;
}

.main-content ul li a {
	color: black;
}

.main-content ul li a:hover {
	color: #777;
}

.main-content ul li a::after {
	content: url("/res/newtab.svg");
	display: inline-block;
	margin-left: 0.2em;
	width: 0.8em;
	/* height: 0.7em; */
}
